# Never forward plain names (without a dot or domain part)
domain-needed
# Never forward addresses in the non-routed address spaces.
bogus-priv
bind-dynamic
no-hosts
# number of names to cache
cache-size=200

listen-address=::1
listen-address=127.0.0.1
{% if ansible_host_v6 is defined %}
listen-address={{ ansible_host_v6 }}
{% endif %}
listen-address={{ ansible_host }}

{% for server in dnsmasq_servers %}
server={{ server }}
{% endfor %}
{% for subdomain, ip in dnsmasq_dns_servers.items() %}
server=/{{ subdomain }}/{{ ip }}
{% endfor %}

address=/localhost/127.0.0.1
address=/localhost/::1

{% for host in dnsmasq_host_entries %}
address=/{{ host }}.{{ dnsmasq_domain }}/{{ hostvars[host]['ansible_host'] }}
{%     if 'ansible_host_v6' in hostvars[host] %}
address=/{{ host }}.{{ dnsmasq_domain }}/{{ hostvars[host]['ansible_host_v6'] }}
{%     endif %}
{% endfor %}

{% for subdomain_entry in dnsmasq_subdomain_entries %}
{%     for host in subdomain_entry['hosts'] %}
address=/{{ subdomain_entry['subdomain'] }}.{{ host }}.{{ dnsmasq_domain }}/{{ hostvars[host]['ansible_host'] }}
{%         if 'ansible_host_v6' in hostvars[host] %}
address=/{{ subdomain_entry['subdomain'] }}.{{ host }}.{{ dnsmasq_domain }}/{{ hostvars[host]['ansible_host_v6'] }}
{%         endif %}
{%     endfor %}
{% endfor %}

{% for group in dnsmasq_group_entries %}
{%     for host in groups[group] %}
address=/{{ host | dns_name(groups, group, dnsmasq_domain) }}/{{ hostvars[host]['ansible_host'] }}
{%         if 'ansible_host_v6' in hostvars[host] %}
address=/{{ host | dns_name(groups, group, dnsmasq_domain) }}/{{ hostvars[host]['ansible_host_v6'] }}
{%         endif %}
{%     endfor %}
{% endfor %}
